@import url('https://fonts.googleapis.com/css?family=Lobster:400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,800');

.frame-back{
	height: 1080px;
	width: 1920px;
	background-color: white;
	position: fixed;
	top: 0%;
	left: 0%;
}
.frame-main{
	position: absolute;
	width: 1501px;
	height: 955px;
	left: 419px;
	top: 122px;

	background: #FAF8F4;
	border-radius: 20px 0px 0px 0px;	
}
.logo{
	position: absolute;	
	width: 312px;
	height: 72px;
	left: 50px;
	top: 30px;	
}
.profile{
	position: absolute;
	width: 172px;
	height: 172px;
	left: 125px;
	top: 205px;
}
.name{
	position: absolute;
	width: 227px;
	height: 42px;
	left: 90px;
	top: 360px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 1000;
	font-size: 36px;
	line-height: 42px;

	color: #000000;
}
.active_btn{
	position: absolute;
	width: 312px;
	height: 69px;
	left: 50px;
	top: 531px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	border-color: transparent;
	background: #F08861;
	border-radius: 12px;

}
.active_icon{
	position: absolute;
	left: 90px;
	right: 20px;
	top: 15px;
	bottom: 20px;	
}
label[for=back_btn]{
	position: absolute;
	width: 110px;
	height: 28px;
	left: 151px;
	top: 139px;
	background-image: url(./faculty-dashboard/student/add_student/go_back.png);
	background-repeat: no-repeat;
	display: block;
}
.switch{
	position: fixed;
	width: 695px;
	height: 72px;
	left: 810px;
	top: 30px;
	background: transparent;
	border: 3px solid #ACACAC;
	box-sizing: border-box;
	
}
.edit_active{
	position: absolute;
	width: 345px;
	height: 66px;
	left: 0px;
	top: 0px;
	
	outline: none;
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	background: #F08861;
	color: #FFFFFF;
}
.edit_deactive{
	position: absolute;
	width: 345px;
	height: 66px;
	left: 0px;
	top: 0px;
	outline: none;
	border: none;
	box-sizing: border-box;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	background: transparent;
	color: #ACACAC;	
}
.remove_active{
	position: absolute;
	width: 345px;
	height: 66px;
	left: 344px;
	top: 0px;
	outline: none;
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	background: #F08861;
	color: #FFFFFF;
	
}
.remove_deactive{
	position: absolute;
	width: 345px;
	height: 66px;
	left: 344px;
	top: 0px;
	outline: none;
	border: none;
	box-sizing: border-box;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	background: transparent;
	color: #ACACAC;	
}
.feild_eid{
	position: absolute;
	width: 350px;
	height: 50px;
	left: 100px;
	top: 110px;

	background: #FFFFFF;
	border: none;
	border-bottom: 5px solid #C4C4C4;
	outline: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ACACAC;
}
.feild_eid:focus{
	border: none;
	border-bottom: 5px solid #F08861;
}

.feild_edate{
	position: absolute;
	width: 350px;
	height: 50px;
	left: 100px;
	top: 230px;

	background: #FFFFFF;
	border: none;
	border-bottom: 5px solid #C4C4C4;
	outline: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ACACAC;
}
.feild_edate:focus{
	border: none;
	border-bottom: 5px solid #F08861;
}

.feild_etime{
	position: absolute;
	width: 350px;
	height: 50px;
	left: 100px;
	top: 350px;

	background: #FFFFFF;
	border: none;
	border-bottom: 5px solid #C4C4C4;
	outline: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ACACAC;
}
.feild_etime:focus{
	border: none;
	border-bottom: 5px solid #F08861;
}
.feild_sub{
	position: absolute;
	width: 350px;
	height: 50px;
	left: 100px;
	top: 470px;

	background: #FFFFFF;
	border: none;
	border-bottom: 5px solid #C4C4C4;
	outline: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ACACAC;
}
.feild_sub:focus{
	border: none;
	border-bottom: 5px solid #F08861;
}
.feild_scode{
	position: absolute;
	width: 350px;
	height: 50px;
	left: 100px;
	top: 590px;

	background: #FFFFFF;
	border: none;
	border-bottom: 5px solid #C4C4C4;
	outline: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ACACAC;
}
.feild_scode:focus{
	border: none;
	border-bottom: 5px solid #F08861;
}
.submit_btn{
	position: absolute;
	width: 360px;
	height: 56px;
	left: 100px;
	top: 690px;

	background: #F08861;
	border-radius: 6px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	border: none;
	color: #FFFFFF;
}
.remove_button{
	position: absolute;
	width: 360px;
	height: 56px;
	left: 100px;
	top: 230px;

	background: #F08861;
	border-radius: 6px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	border: none;
	color: #FFFFFF;
}
.box{
	position: absolute;
	width: 420px;
	height: 276px;
	left: 880px;
	top: 357px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	background: #FFFFFF;
	border-radius: 18px;
	box-shadow: 8px 12px 45px rgba(0, 0, 0, 0.25);
}
.box_img{
	position: absolute;
	width: 97px;
	height: 97px;
	left: -220px;
	top: 20px;	
}
.box_errort{
	position: absolute;
	width: 298px;
	height: 42px;
	left: 2%;
	top: 163px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	line-height: 42px;
	white-space: nowrap;
	color: #475361
}
.box_errorf{
	position: absolute;
	width: 298px;
	height: 42px;
	left: 60px;
	top: 163px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	white-space: nowrap;
	color: #475361
}
.box_errord{
	position: absolute;
	width: 298px;
	height: 42px;
	left: 3%;
	top: 163px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 42px;
	white-space: nowrap;
	color: #475361
}
.close_button{
	position: absolute;
	width: 27px;
	height: 27px;
	left: 375px;
	top: 10px;
	color: #C30B0B;
	background-color: #FFFFFF;
	border-radius: 15px;
	border: 1px solid rgba(196, 11, 11, 0.49); 
	box-sizing: border-box;
	outline: none;
}
